# Ignore environment variables
.env

# Ignore .txt files
*.txt

# Ignore virtual environment directories (if using virtualenv or venv)
venv/
env/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore logs and temporary files
*.log
*.swp
*.jpg
*.pdf
*.png